@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');

.container{
    height: 100vh;
    overflow: hidden;
}

.forms__signin{
    display: none;
}

/* FORMS */

.forms{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/* SECTIONS */

.circle{
    position: absolute;
    width: 850px;
    height: 850px;
    border-radius: 75vw;
    background-color: #ff9a52;
    box-shadow: 2px 2px 3px #4a4a4a, -2px -2px 3px #ffffff;;
    transform: translate(-50%, -50%);
    top: calc(150vh - 20vw);
    left: 100vw;
    z-index: 1;
    transition: all 2s;
}

.signin-section,
.login-section{
    position: absolute;
    width: max-content;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.signin-section{
    right: 30px;
    top: calc(95vh - 5vw);
}

.login-section{
    left: -40%;
    bottom: calc(95vh - 5vw);
}

.signin-section__btn, 
.login-section__btn{
    border: none;
    background: none;
    font-size: 25px;
    color: white;
    font-weight: 800;
    transition: letter-spacing 1s;
}

.signin-section__btn:hover, 
.login-section__btn:hover{
    letter-spacing: 2px;
}

.signin-section__img,
.login-section__img{
    display: none;
    width: 400px;
    filter: drop-shadow(2px 2px 3px #4a4a4a);
}

.signin-section,
.login-section{
  transition: all 1s;
}

.slider-circle{
    top: calc(-50vh + 20vw);
    left: 0;
}
.slider-signin{
    left: 140%;
}
.slider-login{
    left: 30px;
}

.show{
    display: block;
}

.hide{
    display: none;
}

@media screen and (min-width: 1080px) {
    
    .circle{
        width: 150vw;
        height: 150vw;
        border-radius: 75vw;
        top: 100vh;
        left: 140vw;
    }


    .signin-section{
        left: 70vw;
        top: 40vh;
        transition: all 1s;
    }

    .login-section{
        top: 40vh;
        left: -50vw;
        transition: all 1s;
    }

    .signin-section__btn, 
    .login-section__btn{
        margin-top: 50px;
        font-size: 30px;
    }

    .signin-section__img,
    .login-section__img{
        display: inline;
    }

    .slider-circle{
        left:-40vw;
    }
    .slider-signin{
        left: 120%;
    }
    .slider-login{
        left: 0;
    }
}