*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #d3dbd9;
    font-family: 'Quicksand', sans-serif;
    color: rgb(74, 74, 74);
}

.container{
    max-width: 1440px;
    width: 100%;
    min-width: 400px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}