@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #e6efed;
    font-family: 'Quicksand', sans-serif;
    color: rgb(74, 74, 74);
}

.container{
    background-color: #d3dbd9;
    max-width: 1440px;
    width: 100%;
    min-width: 400px;
    margin: 0 auto;
    position: relative;
}

/* navigator */

.nav-sm{
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    box-shadow: 0 0 5px #4a4a4a;
    animation-name: nav;
    animation-timing-function: ease-out;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes nav {
    0%{
        height: 70px;
        bottom: 100%;
        left: 0;
    }
    70%{
        height: 70px;
        bottom: 0;
        left: 0;
    }
    80%{
        height: 60px;
        bottom: 0;
        left: 0;
    }
    100%{
        height: 70px;
        bottom: 0;
        left: 0;
    }
}


.nav-sm__list{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.nav-sm__link,
.nav-lg__link{
    text-decoration: none;
    color: inherit;
    text-shadow: 0 0 1px #4a4a4a;
    opacity: 0.6;
}

.nav-sm__link--selected{
    opacity: 1;
}

/* navigator for large screens */

.nav-lg {
    position: fixed;
    background-color: transparent;
    top: 5%;
    display: none;
    left: -180px;
}

.nav-lg__item {
  position: relative;
  background-color: #A4BDBC;
  font-size: 20px;
  padding: 10px;
  margin-top: 20px;
  width: 220px;
  display: flex;
  justify-content: end;
  gap: 10px;
  left: 0;
}

.nav-lg__item:hover{
  left: 140px;
}

.nav-lg__icon{
    color: #606060;
}

/* buttons */

.clickable{
    border-radius: 50px;
    border: none;
    outline: none;
    transition: box-shadow 0.5s, left 1s;
    box-shadow: 2px 2px 3px #4a4a4a, -2px -2px 3px #ffffff;
}
.clickable:hover{
    box-shadow: 0px 0px 2px #4a4a4a;
}

.clicked,
.clicked:hover{
    transition: box-shadow 0.5s;
    box-shadow: inset 2px 2px 3px #4a4a4a, inset -2px -2px 3px #ffffff;
}

/* FORMS */



.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 350px;
    padding: 50px;
    border-radius: 40px;
    background-color: #a4bdbc;
    box-shadow: 2px 2px 3px #4a4a4a, -2px -2px 3px #ffffff;  
}

.form__title{
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.form__item{
    min-height: 50px;
    width: 100%;
    position: relative;
    color: rgb(92, 92, 92);
}

.input{
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    background:none;
    border: none;
    border-radius: 50px;
    padding: 10px;
    padding-left: 35px;
}

.input::placeholder{
    color: #4a4a4a;
}

.form__icon--placeholder{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 0;
}

.form__btn{
    font-weight: 800;
    font-family: 'Quicksand', sans-serif;
    margin-top: 20px;
    font-size: 16px;
    
    color: white;
    padding: 10px;
    width: 100%;
    background-color: #ff9a52;
}

.form__social{
    display: flex;
    gap: 20px;
}

.form__link{
    color: inherit;
    display: inline-block;
    border-radius: 50px;
    width: 35px;
    height: 35px;
}

.form__icon--social{
    position: relative;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.input-textarea{
    border-radius: 20px;
}

.input-select{
    color: #4a4a4a;
    padding-right: 20px;
}

/* SECTIONS */

.panel__title,
.courses__title,
.master__title{
    font-size: 35px;
    margin: 30px 0;
}

.welcome__title{
    background: linear-gradient(90deg, #80B3C2 40%, rgb(255, 166, 0) 60%);
    background-size: 200%;
    box-shadow: 2px 2px 3px #4a4a4a, -2px -2px 3px #ffffff;
    font-size: 35px;
    width: 100%;
    padding: 30px 0;
    margin-bottom: 20px;
    animation-name: bluring;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
    animation-timing-function: ease-in-out;
    text-align: center;
}

@keyframes bluring {
    0% {
		background-position: 0 0;
	}
	100% {
		background-position: 100% 0;
	}
}

/* courses section */
.courses,
.faqs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.courses{
    grid-area: courses;
}

.course,
.faq{
    background-color: #A4BDBC;
    padding: 20px 30px;
    width: 80%;
}

.course__header,
.faq__header{
    display: flex;
    justify-content: space-between;
}

.course__title,
.faq__title{
    font-size: 14px;
}

.course__body,
.faq__body{
    display: none;
    text-align: left;
    font-size: 12px;
}

.faq__body{
    display: none;
    text-align: left;
    font-size: 12px;
}

.course__rule,
.faq__rule{
    border: 1px solid  #4a4a4a;
    margin: 10px 0;
}

.collapse{
    display: block;
    animation-name: collapsing;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


@keyframes collapsing {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


/******************* FOOTER ********************/

.footer{
    grid-area: footer;
    padding-top: 100px;
    background-image: url(../assets/images/bg-footer.png);
    background-size: cover;
    margin-top: 30px;
    padding-bottom: 20px;
}

.footer__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 30px;
    font-size: 18px;
}

.footer__social-list,
.footer__section-list{
    display: flex;
    gap: 30px;
    list-style: none;
}

.footer__section-list{
    flex-direction: column;
    align-items: center;
}

.footer__social-link,
.footer__section-link{
    text-decoration: none;
    color:#A4BDBC;
}

.footer__social-icon{
    font-size: 40px;
}

/* ******************* BREAKPOINTS ************************* */

@media screen and (min-width: 768px) {
    .course__title,
    .faq__title{
        font-size: 18px;
    }
    .course__body,
    .faq__body{
        font-size: 18px;
    }
}

@media screen and (min-width: 992px) {
  
    .nav-sm{
        display: none;
    }
    .nav-lg{
        display: block;
    }

}
